/* All styles for your header Components live here */
.headingContainer{
    width: 100%;
    display: flex;
    margin:0 auto;
    flex-direction: row;
}

.ImageThumbnail {
    display: flex;
    width: 30%;
    height: 18%;
    margin: 1% 1% 1% 1%;    
}

.HeaderTitle{
    display: flex;
    flex-direction: row;
}

.HeaderTitle h1{
    font-size: 1rem;
}

.HeaderTitle h4{
    font-size: .8rem;
    color: lightgray;
}

.headerContent{
    width: 95%;
}

